@import './Common/Scss/variables.scss';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace;
}
html {
    font-size: 8px;
}

body {
    background: $primary-background-color;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h1,
h2,
h3 {
    color: $primary-text-color;
}
