@import '../../Common/Scss/variables.scss';

.infoSection {
    margin-top: 100px;
    &__wrapper {
        display: flex;
        align-items: center;
        &__header {
            font-size: 4rem;
            font-weight: 900;
            color: $primary-text-color;
        }

        &__line {
            flex: 1;
            height: 1px;
            border-radius: 3px;
            background: $primary-text-color;
            margin-left: 30px;
            opacity: 0.3;
        }

        &__children {
            padding-top: 50px;
        }
    }
}
